@font-face {
    font-family: 'AmsiProNarw-Regular';
    src: url('webfonts/3220A7_9_0.eot');
    src: url('webfonts/3220A7_9_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3220A7_9_0.woff2') format('woff2'), url('webfonts/3220A7_9_0.woff') format('woff'), url('webfonts/3220A7_9_0.ttf') format('truetype');
    font-display: swap;  
}
  
  @font-face {
    font-family: 'AmsiProNarw-Ultra';
    src: url('webfonts/3220A7_E_0.eot');
    src: url('webfonts/3220A7_E_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3220A7_E_0.woff2') format('woff2'), url('webfonts/3220A7_E_0.woff') format('woff'), url('webfonts/3220A7_E_0.ttf') format('truetype');
    font-display: swap;
}
  
  @font-face {
    font-family: 'AmsiPro-Light';
    src: url('webfonts/3220A7_1_0.eot');
    src: url('webfonts/3220A7_1_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3220A7_1_0.woff2') format('woff2'), url('webfonts/3220A7_1_0.woff') format('woff'), url('webfonts/3220A7_1_0.ttf') format('truetype');
    font-display: swap;
}
  
  @font-face {
    font-family: 'AmsiProNarw-LightItalic';
    src: url('webfonts/3220A7_8_0.eot');
    src: url('webfonts/3220A7_8_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3220A7_8_0.woff2') format('woff2'), url('webfonts/3220A7_8_0.woff') format('woff'), url('webfonts/3220A7_8_0.ttf') format('truetype');
    font-display: swap; 
}
  
  @font-face {
    font-family: 'AmsiPro-Bold';
    src: url("webfonts/3220A7_1D_0.eot");
    src: url("webfonts/3220A7_1D_0.eot?#iefix") format("embedded-opentype"), url("webfonts/3220A7_1D_0.woff2") format("woff2"), url("webfonts/3220A7_1D_0.woff") format("woff"), url("webfonts/3220A7_1D_0.ttf") format("truetype");
    font-display: swap; 
}
  
  @font-face {
    font-family: 'AmsiPro-Thin';
    src: url("webfonts/3220A7_15_0.eot");
    src: url("webfonts/3220A7_15_0.eot?#iefix") format("embedded-opentype"), url("webfonts/3220A7_15_0.woff2") format("woff2"), url("webfonts/3220A7_15_0.woff") format("woff"), url("webfonts/3220A7_15_0.ttf") format("truetype");
    font-display: swap;  
}
  
  @font-face {
    font-family: 'AmsiPro-Regular';
    src: url("webfonts/3220A7_12_0.eot");
    src: url("webfonts/3220A7_12_0.eot?#iefix") format("embedded-opentype"), url("webfonts/3220A7_12_0.woff2") format("woff2"), url("webfonts/3220A7_12_0.woff") format("woff"), url("webfonts/3220A7_12_0.ttf") format("truetype");
    font-display: swap;  
}